body {
  color: #03506f;
  background-color: #bedcfa;
}
.title-heading{
  margin-bottom: 40px;
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Balsamiq Sans', cursive;
}
.page-content{
  margin: 100px 50px 350px;
  background-color: #98acf8;
  padding: 50px 70px;
  border-radius: 10px;
}

#footer{
  line-height: 2rem;
  text-align: center;
  background-color: #fff;
  padding: 1% 10% 1%;
}
#footer p{
  font-size: .75rem;
  color: #8f8f8f;
}
#footer i{
  padding: 0 10px;
}
.social-icon{
  color: #000;
}


@media (max-width: 991px){
  .title-container{
    text-align: center;
  }

  .title-text{
    margin-bottom: 100px;
  }

  .page-content{
    margin: 200px 50px 450px;
    padding: 500px 100px;
  }
}
